/* .customize-page{
    height: 80%;
    width: 100%;
    background-image: url(../assests/customizebg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


