.footer-section{
    height: 50%;
    width:99.99%;
    /* border: 1px solid black; */
}
.fotter-img{
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assests/footer.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotter-carton{
    margin-bottom: 5%;
    margin-left: 1%;
    align-items: center;
    /* border: 1px solid black; */
    background-image: url(../assests/3d-png.png);
    height: 60%;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-deatils-parent{
    margin-top: -1%;
    /* border: 1px solid rgb(236, 138, 138); */
    height: 80%;
    width: 100%;
}
.footer-deatils-parent p{
    margin-left: 30%;
    width: 30%;
    /* border: 1px solid greenyellow; */
    display: flex;
    justify-content: center;
}
.footer-details{
    height: 90%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: start;
   

}
.footer-about{
    margin-right: 3%;
    margin-left: 2%;
    text-decoration: none;
    font-family: "Rubik";
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(228, 10, 10); */
    height:50%;
    width: 10%;
    position: relative;
}

.footer-about li{
    list-style: none;

}
.footer-about a{
    padding-bottom: 5%;
    text-decoration: none;
    color: black;
    
}
.footer-about a:hover{
    color: white;

}
.footer-logodiv{
    padding: 0.5%;
    height: 80%;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
}
.footer-logo{
    /* border: 1px solid black; */
    width: 24%;
    height: 46%;
    background-image: url(../assests/logo1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-logodiv h1{
    margin-top: -7%;
    font-size: 200%;
    font-weight: 500;
    font-family: "Rubik";
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}
.footer-logodiv p{
    margin-left: -0.2%;
    width: 100%;
    font-family: "Rubik";
    /* border: 1px solid black;  */
}

.footer-socical{
    margin-left: 40%;
    height: 10%;
    width: 10%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(216, 26, 26); */
}

.footer-socical-logo{
    color: inherit;
    text-decoration: none;
}
.footer-socical-logo:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightskyblue;
    border-radius: 10%;

}
