
.body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: first baseline;
    justify-content: flex-end;
    /* margin-top: 91px; */
    background-image: url(../assests/file.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.signup-logo{
    margin-bottom: 5px;
    /* border: 1px solid; */
    width: 80px;
    height: 100px;
    background-image: url(../assests/logo1.png);
    background-size: cover;
    background-position: center;
}
h3{
    font-size: 250%;
    font-weight: 500;
    font-family: "Rubik";
    color:black;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-form h2{
    text-decoration: underline;
    font-family:sans-serif;
    color: #4B4B4B;
    width: 200px;
    /* border: 1px solid black; */
    font-size: large;
    font-weight: 350;
}
p{
    font-family: "Rubik";
    font-weight: 300;
}

.logo-slogan{
    margin-top: 20px;
    margin-right: 400px;
    width: 300px;
    height: 300px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.input-form{
    margin-left: 70px;
    width: 150px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}
.sign-input{
   border: none;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px lightseagreen;
 
}
.input-form input::placeholder{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: medium;
}
.sign-btn{
width: 250px;
padding: 10px;
border-radius: 10px;
border: none;
background-image: linear-gradient( to left,#6FB1FC,#4364F7,#0052D4);
color: white;
}
.signup-socical{
    font-size: 30px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.signup-socical-icon{
    margin-left: 10px;
    color: inherit;
    text-decoration: none;
}
.signup-socical-icon:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightskyblue;
    border-radius: 10%;
}

